GOOGLE_API_KEY="<your_google_api_key_here>"
RAG_MCP_SERVER_URL=<your_rag_mcp_server_url_here>
LANGSMITH_API_KEY=<your_langsmith_api_key_here>
GOOGLE_GEMINI_MODEL_NAME=<your_google_gemini_model_name_here>

RAG_DB_PATH=./src/rag_mcp_server/data/rag_database.db || <your_custom_rag_db_path_here>
HF_TOKEN=<your_hf_token_here>
MCP_PORT=<your_port_here>