.env
uv.lock
__pycache__/
*.pyc
.DS_Store
.vscode/
.idea/
langgraph_rag_agent.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.egg
.ipynb_checkpoints/
.logs/
coverage/
htmlcov/
.tox/
.pytest_cache/
.cache/
migrations/
*.sqlite3
*.log
*.pot
*.mo
*.sqlite
*.db
*.sqlite3-journal
.venv/
.langgraph_api/